.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.trivia-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;
  width: 10rem;
}

.card.question-bg-card {
  background-color: #323740;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 60vh;
  padding: 10% 15%;
  margin: 0;
}

.question {
  font-size: 0.75rem;
  width: 100%;
  padding: 5% 10%;
  margin: 0;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
}

.answer-options-primary {
  width: 100%;
  background-color: blue;
}

.answer-options-red {
  width: 100%;
  background-color: red;
}
.answer-options-green {
  width: 100%;
  background-color: green;
}

.choice {
  font-size: 0.75rem;
}

.btn.btn-primary.success {
  background: green;
}

.btn.btn-primary.danger {
  background-color: red;
}
